#video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Videoyu arkada tutuyoruz */
}

#video-logo {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 10%; /* Logo genişliği ekranın %10'u olacak şekilde ayarlandı */
    z-index: 10; /* Logo her zaman video üzerinde olacak */
    pointer-events: none; /* Logo üzerine tıklamaları engelliyoruz */
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    #video-logo {
        width: 20%;
        max-width: 100px;
    }
}

@media (max-width: 480px) {
    #video-logo {
        width: 30%;
        max-width: 80px;
    }
}
